export(flatten)
export(mzID)
export(mzIDCollection)
export(mzIDdatabase)
export(mzIDevidence)
export(mzIDparameters)
export(mzIDpeptides)
export(mzIDpsm)
exportClasses(mzID)
exportClasses(mzIDCollection)
import(methods)
importFrom(XML,docName)
importFrom(XML,free)
importFrom(XML,getDefaultNamespace)
importFrom(XML,getNodeSet)
importFrom(XML,xmlAttrs)
importFrom(XML,xmlChildren)
importFrom(XML,xmlInternalTreeParse)
importFrom(XML,xmlValue)
importFrom(XML,xpathApply)
importFrom(XML,xpathSApply)
importFrom(doParallel,registerDoParallel)
importFrom(foreach,"%dopar%")
importFrom(foreach,foreach)
importFrom(iterators,icount)
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)
importFrom(plyr,rbind.fill)
importFrom(plyr,rbind.fill.matrix)
