export(flatten)
export(mzID)
export(mzIDdatabase)
export(mzIDevidence)
export(mzIDparameters)
export(mzIDpeptides)
export(mzIDpsm)
exportClasses(mzID)
import(methods)
importFrom(XML,getDefaultNamespace)
importFrom(XML,getNodeSet)
importFrom(XML,xmlAttrs)
importFrom(XML,xmlInternalTreeParse)
importFrom(XML,xmlValue)
importFrom(XML,xpathApply)
importFrom(XML,xpathSApply)
importFrom(plyr,rbind.fill.matrix)
